* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.page {
  width: 100%;
  height: 100vh;
  background-image: url('./ship.png');
  background-size: cover;
  background-repeat: "no-repeat";
}

.bottomsection {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.themaincontainer {
  padding: 16px;
  width: 300px;
  background-color: #456b79;
  margin-left: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: #6a5846 5px 5px 0px;
}

.mainbuttons {
  background-color: #9e856a;
}

.filescontainer {
  border: #dec7ae 1px solid;
  margin-top: 10px;
  padding: 10px;
  height: 200px;
  border-radius: 10px;
  overflow-y: scroll;
}

.containerheading {
  font-family: "EB Garamond";
  font-size: 28px;
  font-weight: 500;
  color: #dec7ae;
}

.sendBtn {
  cursor: pointer;
  color: #dec7ae;
  font-family: "EB Garamond";
  font-size: 76px;
}

.navbar {
  height: 10vh;
  background-color: #456b79;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 32px;
  font-family: "EB Garamond";
  font-weight: 600;
  color: #dec7ae;
}

.filelistitem {
  font-family: "EB Garamond";
  font-size: 18px;
  color: #dec7ae;
}

.filescontainerbtn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addmoreheading {
  font-size: 20px;
  font-family: "EB Garamond";
  font-weight: 500;
  background-color: #dec7ae;
  color: #2b444d;
  padding: 5px 10px;
  border-radius: 10px;
}

.sendbutton {
  font-size: 18px;
  font-family: "EB Garamond";
  font-weight: 500;
  background-color: #ead5bf;
  color: #2b444d;
  padding: 4px 10px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.receiveinp {
  width: 175px;
  padding: 10px;
  font-family: "EB Garamond";
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #ead5bf;
  color: #1f2e34;
}

.recbtn {
  font-size: 16px;
  font-family: "EB Garamond";
  font-weight: 500;
  background-color: #2b444d;
  color: #ead5bf;
  padding: 10px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.secondlyheading {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "EB Garamond";
  font-weight: 800;
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #dec7ae;
}

.recfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.recfile p{
  font-size: 18px;
  color: #ead5bf;
  font-family: "EB Garamond";
  font-weight: 500;
}

.recfile button {
  font-size: 14px;
  font-family: "EB Garamond";
  font-weight: 500;
  background-color: #2b444d;
  color: #ead5bf;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.sessionscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}